/*General Styling*/
body {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  background-color: #c0c1ff;
}

div:not(#container):not(.colorBar){
  background-color:white;
}

/*Menu Styling*/
#menu {
  border: gray solid 2px;
  padding: 20px;
  border-radius: 25px;
  padding-right: 50px;
  max-width: 30em;
}

textarea,
#taskTitle {
  width: 100%;
  max-width: 100%;
  display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.input > label {
  padding-right: 15px;
}

/*Menu components interior space styling*/
#menu div {
  display: flex;
  align-items: center;
}

.inputRow {
  display: flex;
}

.inputRow > p {
  flex: 1;
}

.inputRow > .input {
  flex: 2;
}

.inputRow > input {
}

/*Temporary div Styling*/

.createdTask {
  border: gray solid 2px;
  padding: 10px;
  padding-right: 30px;
  border-radius: 25px;
  margin-top: 10px;
  display: flex;
}

.content {
  flex-grow: 10;
  padding: 5px;
}

.colorBar {
  flex-grow: 0.7;
  background-color: lightgrey;
}

.firstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.firstLine h3 {
  flex-grow: 1;
}

.firstLine input {
  flex-grow: 0;
}

.firstLine p {
  padding-right: 15px;
}
